* {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
html {
  position: relative;
  min-height: 100%;
  overflow-y: hidden;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
ul {
  margin-bottom: 0;
}
footer {
  padding: 20px 0;
  background-color: #333;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}
footer p {
  margin: 0;
  line-height: 20px;
}
/*
bootstrap overrides / additions
*/
label small {
  font-weight: 300;
  font-style: italic;
  color: #aaa;
}
.checkbox label, 
.radio label {
  padding-left: 20px;
}
#logo {
  padding: 5px;
  height: 40px;
}
#logo img {
  height: 40px;
}

.bg-full {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: transparent;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.bg-full.bg-1 {
  background-image: url("../images/general/cliche_stock_photo.jpg");
}
.login-pane {
  margin-top: 100px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
}
.survey-form {
  margin: 0 auto;
}

@media only screen and (max-width : 520px) {

  .display-block-sm {
    display: block !important;
    float: none !important;
  }
}

.imageloc { 
   position: relative; 
   width: 100%; /* for IE 6 */
}
  
  /* Centered text */
.floatdiv {
   position: absolute; 
   top: 0; 
   left: 0; 
   width: 100%;
}

.imagecenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.div-left{
    float:left;
    padding-left:10px;
}
.div-right{
    float:right;
    padding-right:10px;
}

.introtext{
    text-align: center; 
    font-size: 4.5vh; 
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

body, html {
    height: 100%;
    margin: 0;
}
.body{
  /* The image used */
    /*background-image: url("../images/general/mainback2.jpg");*/

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer {
  opacity: 1;  
  background-color: rgba(0,0,0,0.6); 
}

.footer-text {
  color: black;
  font-size: 2.5vh;
}

/* Important part */
.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    /*height: 250px;*/
    overflow-y: auto;
}

.nmpd-grid {border: none; padding: 20px;}
.nmpd-grid>tbody>tr>td {border: none;}

/* Some custom styling for Bootstrap */
.qtyInput {display: block;
  width: 100%;
  padding: 6px 12px;
  color: #555;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}


.starbounce {
  animation: bounce .5s alternate infinite ease-in;
}

/*@media screen and (min-width:701px) {
    @keyframes bounce {
        0% {
            transform: translateX(50%);
        }
        100% {
            transform: translateX(-50%);
        }
    }
  
  .starbounce {
    color: red;
    display: inline-block; needed to trigger update 
  }
}*/

@media screen and (min-width:701px) {
    @keyframes bounce {
        0% {
            transform: translateY(-10%);
        }
        100% {
            transform: translateY(0);
        }
    }
  
  .starbounce {
    color: green;
    display: inline-block; /* needed to trigger update */
  }
}

.hmarginauto{
    margin-left: auto; 
    margin-right: auto;
}

.vmarginauto{
    margin-top: auto;
    margin-bottom: auto;
}



.modal.modal-wide .modal-dialog {
  width: 90%;
}
.modal-wide .modal-body {
  overflow-y: auto;
} 

#loadwifipass .modal-body p { margin-bottom: 900px }